body{

background:#0f0f0f;
color:white;
font-family:Arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.panel{

background:#1e1e1e;
padding:30px;
border-radius:10px;
width:300px;
box-shadow:0 0 15px black;

}

input{

width:100%;
padding:10px;
margin-top:10px;
border:none;
border-radius:5px;

}

button{

width:100%;
padding:10px;
margin-top:10px;
background:#ff0050;
border:none;
color:white;
border-radius:5px;
cursor:pointer;

}

button:hover{

background:#ff2c70;

}