*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

height:100vh;
display:flex;
justify-content:center;
align-items:center;

background:linear-gradient(135deg,#0f0f0f,#1c1c1c);

font-family:Arial;
color:white;

}

.panel{

width:330px;
padding:30px;

background:#121212;

border-radius:15px;

box-shadow:0 0 25px rgba(255,0,80,.4);

}

h1{

text-align:center;
margin-bottom:20px;

color:#ff0050;

text-shadow:0 0 10px #ff0050,0 0 15px #00f2ff;

}

h3{

margin-top:20px;
margin-bottom:10px;

}

input{

width:100%;
padding:11px;

margin-top:10px;

border:none;
border-radius:8px;

background:#1e1e1e;
color:white;

outline:none;

}

input:focus{

box-shadow:0 0 8px #00f2ff;

}

button{

width:100%;
padding:11px;

margin-top:12px;

border:none;
border-radius:8px;

cursor:pointer;

font-weight:bold;

transition:.3s;

}

.tap{

background:#ff0050;
color:white;

}

.tap:hover{

background:#ff2c70;
box-shadow:0 0 12px #ff0050;

}

.login{

background:#00f2ff;
color:black;

}

.login:hover{

background:#00d0e0;

}

.stats{

margin-top:15px;

padding:10px;

background:#1b1b1b;

border-radius:8px;

text-align:center;

font-size:14px;

}